In [2]:
# import the needed libraries and datasets

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [7]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df- df.mean()

          0         1         2
0 -0.239115 -0.170905 -0.261962
1  0.303699  0.133455 -0.166160
2 -0.412553  0.127505  0.203125
3  0.446224  0.089262  0.176325
4 -0.098254 -0.179316  0.048671

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [9]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df

,a,b,c,d,e,f,g,h,i,j
0,0.081317,0.410799,0.913007,0.831503,0.679073,0.843246,0.319597,0.855183,0.913002,0.531193
1,0.529512,0.432698,0.329182,0.272619,0.509159,0.153167,0.996381,0.030324,0.719088,0.264725
2,0.299078,0.851057,0.282954,0.582963,0.878052,0.040907,0.323734,0.206516,0.517044,0.041512
3,0.115395,0.997215,0.866932,0.271368,0.240492,0.730708,0.935934,0.465520,0.997684,0.487185
4,0.936027,0.062227,0.227993,0.845959,0.354088,0.520718,0.704546,0.231589,0.969514,0.871958

In [13]:
df.sum().idxmin()

'h'